[Desktop Entry]
Name=4Shared Resolver
Comment=Looks for tracks to play from www.4shared.com

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/4shared.js

X-KDE-PluginInfo-Name=4shared
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=lasconic
X-KDE-PluginInfo-Email=lasconic@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gettomahawk.com

