[Desktop Entry]
Name=Soundcloud Resolver
Comment=Resolves to playable tracks on Soundcloud, including live, cover and remixed versions if specified.

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/soundcloud.js

X-KDE-PluginInfo-Name=soundcloud
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=Thierry Göckel
X-KDE-PluginInfo-Email=thierry@strayrayday.lu
X-KDE-PluginInfo-Version=0.5.1
X-KDE-PluginInfo-Website=http://gettomahawk.com

