[Desktop Entry]
Name=Dilandau
Comment=Uses mp3 search engine http://www.dilandau.eu/ to find tracks

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/dilandau.js

X-KDE-PluginInfo-Name=dilandau
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=lasconic
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Version=0.3.1
X-KDE-PluginInfo-Website=http://gettomahawk.com

