[Desktop Entry]
Name=Dilandau Resolver
Comment=Uses mp3 search engine http://www.dilandau.eu/ to find tracks

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver

X-KDE-PluginInfo-Name=dilandau
X-KDE-PluginInfo-Author=lasconic
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gettomahawk.com

