[Desktop Entry]
Name=Jamendo
Comment=Searches Jamendo's free music database

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/jamendo.js

X-KDE-PluginInfo-Name=jamendo
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=lasconic
X-KDE-PluginInfo-Email=lasconic@gmail.com
X-KDE-PluginInfo-Version=0.1.4
X-KDE-PluginInfo-Website=http://gettomahawk.com

