[Desktop Entry]
Name=Official.fm
Comment=Searches Official.fm for playable tracks

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/officialfm.js

X-KDE-PluginInfo-Name=officialfm
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=lasconic
X-KDE-PluginInfo-Email=lasconic@gmail.com
X-KDE-PluginInfo-Version=0.1.2
X-KDE-PluginInfo-Website=http://gettomahawk.com

