[Desktop Entry]
Name=Official.fm
Comment=Searches Official.fm for playable tracks

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/officialfm.js

X-KDE-PluginInfo-Name=officialfm
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=lfranchi and lasconic
X-KDE-PluginInfo-Email=lfranchi@tomahawk-player.org
X-KDE-PluginInfo-Version=1.0.4
X-KDE-PluginInfo-Website=http://gettomahawk.com

