[Desktop Entry]
Name=Grooveshark
Comment=Searches Grooveshark for playable tracks. Requires premium account.

Type=Service
X-KDE-ServiceTypes=Tomahawk/Resolver
X-Synchrotron-MainScript=contents/code/grooveshark.js

X-KDE-PluginInfo-Name=grooveshark
X-KDE-PluginInfo-Category=Resolver
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Version=0.5.3
X-KDE-PluginInfo-Website=http://gettomahawk.com

