[Desktop Entry]
Name=Spotify
Comment=Play your music from and sync your playlists with Spotify

Type=Service
X-KDE-ServiceTypes=Tomahawk/BinaryResolver
X-Synchrotron-Signature=MC4CFQCmXN4hzQ2k9njUA9bCLTomy1JOwAIVALYZr4qxqIjo2R4nA/E7gCUWFoUV

X-Synchrotron-ContentUrl=spotify-osx.zip
X-Synchrotron-Type=osx
X-Synchrotron-MainScript=spotify_tomahawkresolver

X-KDE-PluginInfo-Name=spotify-osx
X-KDE-PluginInfo-Category=BinaryResolver
X-KDE-PluginInfo-Author=Hugo and Leo
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Version=0.5.0
X-KDE-PluginInfo-Website=http://gettomahawk.com
