[Desktop Entry]
Name=Spotify
Comment=Play your music from and sync your playlists with Spotify

Type=Service
X-KDE-ServiceTypes=Tomahawk/BinaryResolver
X-Synchrotron-Signature=MCwCFHFgArArk1D522UQ7DX1rYMkJOvhAhQYHzhbQZd2FfAiCyHJbfAcw/LeGQ==

X-Synchrotron-ContentUrl=spotify-linux-x64.zip
X-Synchrotron-Type=linux-x64
X-Synchrotron-MainScript=spotify_tomahawkresolver
X-Synchrotron-Requires-Tomahawk-Version=0.5.5

X-KDE-PluginInfo-Name=spotify-linux-x64
X-KDE-PluginInfo-Category=BinaryResolver
X-KDE-PluginInfo-Author=Hugo and Leo
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Version=0.6.0
X-KDE-PluginInfo-Website=http://gettomahawk.com
